fastapi==0.115.12
uvicorn[standard]==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.0
requests==2.32.3
pydub==0.25.1
openai==0.28.0
openai-whisper==20240930
torch==2.6.0
numpy==1.26.4
opencv-python==4.10.0.84
transformers==4.46.0
Pillow==11.0.0
roboflow

# PostgreSQL dependencies
sqlalchemy==2.0.36
psycopg2-binary==2.9.9
pgvector==0.4.2